html, input {
    font-family: sans-serif;
}

body {
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    padding: 2em;
}

form {
    margin: 20px;
}

.headercss {
    display: flex;
    flex-flow: column;
    background: red;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper {
    width: 90%;
    padding: 2rem;
    background: #fff;
    box-shadow: 2px 2px 2px 2px #888888;
}

label, input, button {
    font-size: 16px;
    line-height: 1.5;
}

.nameerror, .mobileerror {
    color: red;
}

.formgroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

label {
    text-align: right;
    width: 30%;
    margin-right: 2%;
}

input {
    flex: auto;
}

button {
    display: flex;
    margin: 0 auto;
    background-color: green;
}
